# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\OneDrive - Universitatea Babes-Bolyai\Anul 2\Semestrul 2\ISS\Laborator\lab_iss\MonitorizareAngajati\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
